- name: Copy gh-cli repo
  ansible.builtin.import_role:
    name: repo_copy
    tasks_from: main.yml

- name: Run tasks/other.yaml instead of 'main'
  ansible.builtin.import_role:
    name: create_user
    tasks_from: main.yml

- name: Install Libicu package
  ansible.builtin.import_role:
    name: dnf_modules
    tasks_from: main.yml

- name: create a directory /actions-runner
  ansible.builtin.file:
    path: /actions-runner
    state: directory
    owner: github-runner
    group: github-runner
    mode: '0744'

- name: Extract the github-runner file
  ansible.builtin.unarchive:
    src: https://github.com/actions/runner/releases/download/v2.323.0/actions-runner-linux-x64-2.323.0.tar.gz
    dest: /actions-runner
    remote_src: yes
  become_user: github-runner

- name: Fetch the token of github runner
  ansible.builtin.shell: |
    gh api -X POST orgs/manojpadigineti-cloud/actions/runners/registration-token -H "Accept: application/vnd.github+json" --jq .token
  register: runner_token
  become_user: ec2-user

# unattended to disable interactive prompts from cli, we pass it here
# can get help using ./config.sh --help in to get the options
# --name: Name of the runner
# ./config.sh --unattended --url https://github.com/manojpadigineti-cloud --token {{ runner_token.stdout }}

- name: Run ./config.sh
  ansible.builtin.shell: ./config.sh --unattended --url https://github.com/manojpadigineti-cloud --token "{{ runner_token.stdout }}" --name Runner-1 --runnergroup Default
  become_user: github-runner
  args:
    chdir: /actions-runner
  ignore_errors: yes

- name: Copy service file
  ansible.builtin.copy:
    src: github_runner.service
    dest: /etc/systemd/system/github_runner.service

- name: Run github_runner service
  ansible.builtin.import_role:
    name: systemd
    tasks_from: main.yml



## To check the token is fetching properly
#- name: Debug
#  ansible.builtin.debug:
#    msg: "{{ runner_token.stdout }}"


#user: github-runner
#stdout
#systemd_app_name: github_runner